@import '../../node_modules/foundation-sites/scss/foundation';

@include foundation-global-styles;
@include foundation-grid;
@include foundation-table;
@include foundation-button;

.less {
    max-height: 120px;
    position: relative;
    overflow: hidden;

    .more-link {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        text-align: center;
        margin: 0;
        padding: 0;
        /* "transparent" only works here because == rgba(0,0,0,0) */
        background-image: linear-gradient(to bottom, transparent, white);
    }
}
